/*.fond {
	height: 100vh;
	background: #4d4d4d;
  	background-repeat: no-repeat;
  	background-size: cover;
}*/


.fond{
    height: 100vh;
    background: url(../img/fontCode.jpg) fixed;
    background-color: black;
  	background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
    filter: blur(8px);
}

.container  i{

	color: #930cad !important;
}

.container h1 {
	font-family: 'Big Shoulders Display', cursive;
	font-size: 5em;
	color: white;
}


.container h1 a {
    font-family: 'Big Shoulders Display', cursive;
    font-style: italic;
    font-size: 0.7em;
    color: #930cad;
}

.container p {
	margin-top: 15px;
	color: white;
}

.container .me {
	position: absolute;
	text-align: center;
	font-weight: bold;
	top: 50%;
    left: 50%;
	transform: translateX(-45%) translateY(-50%);
}

@keyframes arrowdown {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}
.container .me .godown {
	color: var(--purple-color);
	font-size: 60px;
	margin-top: 100px;
	animation: arrowdown 1s infinite;
}


.gris{
    background-color: #6B6B6B;
}

.violet{
    background-color: #930CAD;
}



.section h1{
    text-align: center;
    color: white;
    font-style: italic;
}

.section hr{
    border-color: black;
    
}
.section p{
    color: white;
        text-align: center;
}


.violet .col-md-6 .purplediv-text {
	position: relative;
	padding: 0px 50px 0px 0px;
	text-align: justify;
}

.violet .col-md-6 .purplediv-text:after {
    content: " ";
    position: absolute;
    border-left: 1px white solid;
    top: -10%;
    right: 0;
    height: 150%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:90px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px; 
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	transition:1000ms ease;
	height:35px;
	width:20px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

.container hr {
	border-color: white !important;
	opacity: 1;
}

.card{
	margin-bottom: 12%;
}

.card > .card-img-top{
	width: 100%;
	height: 200px;
}