body{
    background-color: black;
}
header{
    background-color: black;
}

h1, h2{
    color: green;
}


header > div > div > div > div > img{
    margin-top: 15px;
}

.img-thumbnail{
    margin-top: 20px;
}

.container{
    background-color:#d6d6d6 ;
    margin-top: 0px;
}

.text-center{
    border-top: 50px;
}

.card{
    margin-bottom: 20px;
}
.card-title{
    font-family: Trattatello !important    ;
}

.card-img-top{
    width: 286px;
    height: 272px;
}
.container{
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    font-family: Trattatello ;
}
.container-fluide{
    background-color: black;
    margin-bottom: 0px;
}
