/* Afficher le background et le rend flou*/
.container:before {
    content: '';
    background: url(../img/fontCode.jpg) fixed;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-filter: blur(5px);
           -moz-filter: blur(5px);
            -ms-filter: blur(5px);
             -o-filter: blur(5px);
                filter: blur(5px);
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;    
    z-index: -1;
}

h1, h2{
    color: pink;
}

